<!doctype html>
<html>
<head>
    <title>The Bodega</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Asset&family=Bangers&family=Bodoni+Moda:opsz@6..96&family=Cherry+Cream+Soda&family=Chicle&family=Creepster&family=Delicious+Handrawn&family=Domine&family=Eczar&family=Fjalla+One&family=Fuzzy+Bubbles&family=Gelasio&family=Germania+One&family=Kalam&family=Lato:ital,wght@0,400;1,300&family=Love+Light&family=Orbitron&family=Oswald&family=Oxygen:wght@700&family=Press+Start+2P&family=Questrial&family=Roboto&family=Sedgwick+Ave&family=Tilt+Warp&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>The Bodega</h1>
        <img src="/img/druskiBodega.jpeg" alt="">

        <p></p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

    </div>

</div>
</body>
</html>
